.mobile-nav-bar {
  background: url(../../../images/banner-bg.svg) no-repeat center center;
  background-size: cover;
}

.banner-section {
  background: url(../../../images/banner-bg.svg) no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

.banner-col {
  border-right: 2px solid #fff;
  padding-right: 50px;
}

.din-roda {
  margin-top: -145px;
  margin-right: -12px;
}

.din-roda img {
  width: 100%;
}
.header-section {
  position: relative;
}
.mobile-banner {
  background: rgba(42, 49, 119, 0.87);
  color: #fff;
  width: 90%;
  margin: auto;
  padding: 30px;
  z-index: 9;
  margin-top: -30%;
  margin-bottom: 40px;
  display: none;
}

@media only screen and (max-width: 768px) {
  .banner-section {
    z-index: -1;
    margin-top: -16px;
  }
  .banner-container {
    margin-top: 90px;
  }
  .mobile-banner {
    display: block;
  }
}
