.banner-section {
  background: url(../../../images/banner-bg.svg) no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

.banner-col {
  border-right: 2px solid #fff;
  padding-right: 20px;
}

.din-roda {
  margin-top: -145px;
  margin-right: -12px;
}

.din-roda img {
  width: 100%;
}
.header-section {
  position: relative;
}
.mobile-banner {
  background: rgba(42, 49, 119, 0.87);
  color: #fff;
  width: 95%;
  margin: auto;
  padding: 10px;
  margin-top: -100%;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 768px) {
  .banner-container {
    margin-top: 90px;
  }
}
