.projects-section {
  background: rgba(152, 156, 183, 0.2);
}
.project-title {
  font-size: 26px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 20px;
}

.clicked-box {
  background: #fff;
  border-top: 1px solid #ddd;
}

.project-box-title {
  font-size: 20px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 10px;
}
.project-des {
  font-size: 16px;
  font-weight: 400;
  color: #777;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .NextArrow,
  .PreviousArrow {
    display: none;
  }
  .project-box-title {
    font-size: 16px;
  }
  .project-title {
    font-size: 16px;
  }
  .like-button,
  .link-button,
  .view-button,
  .view-button svg {
    font-size: 14px !important;
  }
}
