.logo {
  width: 80%;
}

.nav-link {
  color: #fff !important;
  font-size: 18px;
  display: inline-block;
}
.nav-link-dark {
  color: #3055a0 !important;
  font-size: 18px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .nav-link {
    color: #30549e !important;
  }
}
.nav-bar {
  transition: 1s;
}
.nav-bar.active {
  background: #fff !important;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
  z-index: 9;
}
.nav-bar.active .nav-link {
  color: #3055a0 !important;
}
